/*body*/

body {
  font-family: 'Montserrat', 'Source Sans Pro', sans-serif;
}

element.style {
    padding-top: 50px;
}

/*links color*/

a, a:hover{
  color: #4F2824;
}

.about-link {
  text-decoration: underline;
}

/*home body*/

.home-ui-panel {
  padding-left: 10%;
  padding-right: 10%;
}

/*navbar*/

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

.navbar {
  background-color: transparent;
  -webkit-transition: padding .3s;
  -moz-transition: padding .3s;
  transition: padding .3s;
  border: none;
  z-index: 1;
}

.home-text-box {
  text-align: justify;
  background-color: #ead1c7;
}

.about-text-box {
  text-align: justify;
}

.about-dev-box {
  text-align: justify;
  border-radius: 10px;
  background-color: #ead1c7;
}

.about-dev-box > h4 {
  line-height: 1.4;
}

.home-text-box > h4 {
  line-height: 1.4;
}

.about-text-box > h4 {
  line-height: 1.4;
}

.image-about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

/*.container-fluid {
  padding-right: 0;
  padding-left: 0;
}*/

/*cards info*/

.col-sm-6.column-cards, .col-sm-4.column-cards, .col-sm-3.column-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: table;
  width: 250px;
  height: 130px;
  margin-bottom: 10px;
  font-weight: 700;
  border-radius: 7px;
  overflow: hidden;
  transition: box-shadow .4s;
}

.card-info span.name {
  position: absolute;
  left: 0;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: 1px;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
  word-break: normal;
  color: #fff;
  transition: font-weight .4s;
}

.card-info span.value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: 1px;
  word-break: normal;
  color: #fff;
  transition: font-weight .4s;
}

.card-info span.region {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: 1px;
  word-break: normal;
  color: #fff;
  transition: font-weight .4s;
}

.card-info:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a box-shadow effect on hover */
  transform: scale(1.05); /* Increase the size by 5% on hover (adjust the scale value as desired) */
}

/*card icon*/

.icon_block_container{
   float: left;
}

.icon_block_container img {
   height: 20px;
   position: absolute;
   left: 10px;
   bottom: 10px;
   -webkit-filter: invert(100%);
}

/*button styling*/

.btn-group-justified>.btn, .btn-group-justified>.btn-group {
  padding: 1%;
}

/*custom button shinyWidgets*/

.custom_actionBttn .bttn-primary{
  background-color: #E87D6B;
  border-color: #fff;
  color: #fff;
}

.custom_actionBttn .bttn-unite.bttn-primary:before {
    background: #e53622;
}

.bttn-unite.bttn-primary:after {
    background: #E87D6B;
}

/*custom checkbox shinywidgets*/

.checkbox-primary input[type="checkbox"]:checked+label::before, .checkbox-primary input[type="radio"]:checked+label::before {
    background-color: #E87D6B;
    border-color: #E87D6B;
}
